<h1><%= @movement.name %></h1>

<div id="display-guide"></div>

<div id="training-tips"></div>

<%= link_to "View All Training Guides", movement_tips_path(@movement), class: "all-guides" %>

<br>

<% if current_user.trainer? %>
  <h4>Add Training Tips to Properly Perform This Exercise</h4>
  <div class="well well-sm col-xs-6">
  	<%= render partial: "tips/form", locals: { movement: @movement, tip: @tip } %>
  </div>
<% end %>