<div class="well well-lg">
  <h4>~Mix More Movements into <em><%= routine.title %></em>~</h4>

  <form class="add-exercise-form" id="edit_routine_<%= routine.id %>" action="/routines/<%= routine.id %>" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div id="add-exercise-errors">
    </div>

    <div class="movement-fields">
      <label for="routine_movements_attributes_0_name">Add another exercise to this workout routine</em></label>:
      <input placeholder="Enter another exercise..." class="form-control" type="text" name="routine[movements_attributes][0][name]" id="routine_movements_attributes_0_name">
      <br>
      <label for="routine_movements_attributes_0_movement_routines_technique">Describe your technique for performing this exercise</label>:
      <br>
      <textarea name="routine[movements_attributes][0][movement_routines][technique]" id="routine_movements_attributes_0_movement_routines_technique"></textarea>
      <br>
      <label for="routine_movements_attributes_0_movement_routines_sets">Number of Sets</label>:
      <input type="number" name="routine[movements_attributes][0][movement_routines][sets]" id="routine_movements_attributes_0_movement_routines_sets">
      <br>
      <label for="routine_movements_attributes_0_movement_routines_reps">Number of Reps</label>:
      <input type="number" name="routine[movements_attributes][0][movement_routines][reps]" id="routine_movements_attributes_0_movement_routines_reps">
    </div>

    <br>

    <div class="actions">
      <input type="submit" name="commit" value="Add Exercise" class="btn btn-default btn-sm">
    </div>
  </form>
</div>