<div class="equipment-fields">
	<br>
	<label for="routine_equipment_attributes_{{indexPosition}}_name">What type of equipment, if any, will you use during this workout?</label>:
	<input placeholder="Enter a piece of equipment..." class="form-control" type="text" name="routine[equipment_attributes][{{indexPosition}}][name]" id="routine_equipment_attributes_{{indexPosition}}_name">
	<br>
	<label for="routine_equipment_attributes_{{indexPosition}}_equipment_routines_quantity">Quantity</label>:
	<input min="1" type="number" name="routine[equipment_attributes][{{indexPosition}}][equipment_routines][quantity]" id="routine_equipment_attributes_{{indexPosition}}_equipment_routines_quantity">
	<br>
	<label for="routine_equipment_attributes_{{indexPosition}}_equipment_routines_weight">Weight</label>:
	<input min="1" step="any" type="number" name="routine[equipment_attributes][{{indexPosition}}][equipment_routines][weight]" id="routine_equipment_attributes_{{indexPosition}}_equipment_routines_weight"> lbs
	<br>
</div>