<div class="field">
  <label for="routine_movements_attributes_{{indexPosition}}_name">Add an exercise movement to your workout routine</label>:
  <input placeholder="Enter an exercise..." class="form-control" type="text" name="routine[movements_attributes][{{indexPosition}}][name]" id="routine_movements_attributes_{{indexPosition}}_name">
</div>
<br>