<div class="target-fields">
	<br>
	<label for="routine_targets_attributes_{{indexPosition}}_focus">Which area(s) of the body will this workout target?</label>
	<input placeholder="Where will you feel the burn? Enter focus area..." class="form-control" type="text" name="routine[targets_attributes][{{indexPosition}}][focus]" id="routine_targets_attributes_{{indexPosition}}_focus">
	<br>
</div>