<div class="training-fields">
	<label for="routine_trainings_attributes_{{indexPosition}}_fitness_type">Which training type(s) will this workout implement?</label>
	<input placeholder="Feature a fitness type..." class="form-control" type="text" name="routine[trainings_attributes][{{indexPosition}}][fitness_type]" id="routine_trainings_attributes_{{indexPosition}}_fitness_type">
</div>