<p>
  <strong>Workout Count</strong>: 
  <%= user.name %> designed <%= user.routines.count %> workout <%= 'routine'.pluralize(user.routines.count) %> to date.
</p>

<% unless user.routines.empty? %>
  <%= link_to "Preview #{user.name}'s Workouts", user_path(user), class: "load-user-routines", data: {id: user.id } %>
<% end %>