<h3><em>Account Management</em></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">User ID #</th>
      <th scope="col">View Profile</th>
      <th scope="col">Reassign Role</th>
      <th scope="col">Pick Personal Trainer</th>
      <th scope="col">Delete Account</th>
    </tr>
  </thead>
</table>
