<h3><em>Account Management</em></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">User ID #</th>
      <th scope="col">View Profile</th>
      <th scope="col">Reassign Role</th>
      <th scope="col">Pick Personal Trainer</th>
      <th scope="col">Delete Account</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "users/user_row", collection: @users, as: :user, locals: { trainers: @trainers } %>
  </tbody>
</table>

<div class="well well-lg">
  <label>Users Awaiting Role Assignment:</label>

  <br><br>

  <p><em>Future Clients:</em></p>

  <%= render partial: "users/users_ul", locals: { users: @future_clients } %>

  <p><em>Future Trainers:</em></p>

  <%= render partial: "users/users_ul", locals: { users: @future_trainers } %>
</div>
