<!-- User clicks "View All Workouts" link in navbar, and I use the Handlebars template below 
when I make my AJAX GET request to "/routines" using fetch() in the function Routine.handleWorkoutsIndex,
which is defined in routines.js file -->

<script id="list-workout-template" type="text/x-handlebars-template">
  <span><a href="/routines/{{id}}">{{title}}</a></span>
  <br>
  <small>~ designed by {{user.name}} ~</small>
  <br>
  <small><strong>Difficulty Level</strong>: {{difficulty_level}}</small>
  <br>
  <small><strong>Duration</strong>: {{duration}} minutes</small>
  <hr>
</script>

<!-- User clicks "Read Exercise Guide" link in navbar, and I use the Handlebars template below 
when I make my AJAX GET request to "/movements" using fetch() in the function Movement.handleExerciseIndex,
which is defined in movements.js file -->

<script id="list-exercise-template" type="text/x-handlebars-template">
  <a class="show-exercise" data-id="{{id}}" href="/movements/{{id}}">{{name}}</a>
  <br>
  <small>Training Guides Available: {{guides.length}}</small>
  <br>
  <small>Workouts in which Performed: {{routines.length}}</small>
  <br>
  <hr>     
</script>

<script id="show-exercise-template" type="text/x-handlebars-template">
  <h1>{{name}}</h1>
  <a class="all-guides" href="movements/{{id}}/guides" data-id="{{id}}">View All Training Guides</a>
  <div id="training-guides"></div>
  <br>
  <% if current_user && current_user.trainer? %>
    <a href="/movements/{{id}}/guides/new" data-id="{{id}}">Create a Training Guide</a>
  <% end %>
  <br>
  <br><br>
  <button class="js-previous-move btn btn-default btn-sm" data-id="{{id}}">Previous Exercise</button>
  <button class="js-next-move btn btn-default btn-sm" data-id="{{id}}">Next Exercise</button>
</script>

<!-- The Handlebars template found inside the <script> tag below is used when a trainer creates a series of training tips for an exercise movement on the movement show page -->

<script id="training-guide-template" type="text/x-handlebars-template">
  <div class="well well-lg">
    <h4>Training Guide for {{movement.name}}</h4>
    <p><em>~A series of training tips from professional trainer {{user.name}}~</em></p>
    <br>
    <span><strong>Use proper form</strong>:</span>
    <p>{{proper_form}}</p>
    <br>
    <span><strong>Practice effective breathing patterns</strong>:</span>
    <p>{{breathing_technique}}</p>
    <br>
    <span><strong>Feeling overexerted? Modify the movement</strong>:</span>
    <p>{{modification}}</p>
    <br>
    <span><strong>Feeling energetic? Take things up a notch with this challenge</strong>:</span>
    <p>{{challenge}}</p>
    <br>
    <% if current_user && current_user.trainer? %>
      <button class="btn btn-default btn-sm edit-guide" data-id="{{id}}">Edit Guide</button>
    <% end %>
  </div>
</script>

<script id="edit-exercise-template" type="text/x-handlebars-template">
  <form class="edit_routine edit-mr edit-mr-{{id}}" id="edit_routine_{{routine.id}}" action="/routines/{{routine.id}}/movements/{{movement.id}}" accept-charset="UTF-8" method="post">
    <h4><em>Editing {{movement.name}}</em></h4>
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div id="technique-div">
      <label for="routine_movements_attributes_{{id}}_movement_routines_technique">Describe your technique for performing this exercise</label>:
      <br>
      <textarea name="routine[movements_attributes][{{id}}][movement_routines][technique]" id="routine_movements_attributes_{{id}}_movement_routines_technique">{{technique}}</textarea>
    </div>
    <br>
    <div id="sets-div">
      <label for="routine_movements_attributes_{{id}}_movement_routines_sets">Number of Sets</label>:
      <input type="number" name="routine[movements_attributes][{{id}}][movement_routines][sets]" id="routine_movements_attributes_{{id}}_movement_routines_sets" value="{{sets}}">
    </div>
    <br>
    <div id="reps-div">
      <label for="routine_movements_attributes_{{id}}_movement_routines_reps">Number of Reps</label>:
      <input type="number" name="routine[movements_attributes][{{id}}][movement_routines][reps]" id="routine_movements_attributes_{{id}}_movement_routines_reps" value="{{reps}}">
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="Update Exercise" data-disable-with="Update Exercise" class="btn btn-default btn-sm">
      <input type="button" class="btn btn-default btn-sm cancel-edit" data-id={{id}} value="X">
    </div>
  </form>
</script>