<h1>Welcome to Movement Mixer!</h1>

<script id="list-move-template" type="text/x-handlebars-template">
  <a href="/movements/{{id}}">{{name}}</a>
  <br>
  <small>Training Tips Available: {{tips.count}}</small>
  <br>
  <small>Workouts in which Performed: {{routines.count}}</small>
  <br>
  <hr>
</script>