<h3>Revise Training Guide</h3>

<%= render partial: "guides/form", locals: {movement: @movement, guide: @guide} %>

<br>

<% if policy(@guide).destroy? %>
  <%= button_to "Delete Training Guide", movement_guide_path(@movement, @guide), method: :delete, 
  class: "delete-guide btn btn-danger btn-sm", data: { confirm: "Are you sure you want to delete this training guide?" } %>
<% end %>