<h3>Create a Training Guide</h3>

<h4><em>Add training tips to properly perform a <%= @movement.name %></em></h4>

<br>

<div class="well well-sm col-xs-6">
  <%= render partial: "form", locals: { movement: @movement, guide: @guide } %>
</div>